@using Cafe.DAL.Models
@model Chef

<div class="card-body">
    <h4 class="card-title">Order Status</h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>

                    <th> # </th>
                    <th> image </th>
                    <th> Name </th>
                    <th> Field </th>
                    <th> Elave </th>

                </tr>
            </thead>
            <tbody>

                @if (Model is not null)
                {
                   
                        <tr>

                            <td> @Model.Id </td>
                        <td> <img src="~/assets/UploadedImages/@Model.ImgUrl" /> </td>
                        <td> @Model.Name </td>
                        <td> @Model.Field </td>
                            <td>
                            <a asp-controller="Chef" asp-action="Delete" asp-route-id="@Model.Id"> Delete  </a>
                            <a asp-controller="Chef" asp-action="Update" asp-route-id="@Model.Id"> Update  </a>

                            </td>
                       </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>